:host {
  width: 100%;
}

.container {
  margin: 2rem 5rem 0 1rem;
  height: 41rem;
  position: relative;
  font-size: 1.5rem;
}

.label {
  color: var(--Royal-Blue);
  font-weight: bold;
  margin-right: 1rem;
}

.name {
  align-items: center;
  display: flex;
  margin-bottom: 1.9rem;
  padding-right: 2rem;
}

.long-input {
  border-radius: 2rem;
  border: 0.1rem solid var(--light-gray);
  font-size: 1.5rem;
  height: 2.9rem;
  padding-left: 0.9rem;
  width: 60rem;
}

.align-item {
  margin-left: 5.4rem;
}

.short-input {
  border-radius: 2rem;
  border: 0.1rem solid var(--light-gray);
  font-size: 1.5rem;
  height: 2.9rem;
  margin-left: 2.4rem;
  padding-left: 2.6rem;
  width: 29.1rem;
}

.shorter-input {
  border-radius: 2rem;
  border: 0.1rem solid var(--light-gray);
  font-size: 1.5rem;
  height: 2.9rem;
  margin-left: 0.1rem;
  padding-left: 2rem;
  width: 22.5rem;
}
.relative {
  position: relative;
}

.input-image {
  height: 1.5rem;
  left: 3rem;
  position: absolute;
  top: 0.7rem;
  width: 1.5rem;
}

.country-state-info {
  align-items: center;
  display: flex;
  width: 60rem;
}

.align-country-input {
  margin-left: 5.5rem;
}

.name.state {
  margin-left: 2rem;
}

.save {
  width: 12rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--shade-of-yellow-green);
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.file-upload {
  color: var(--Royal-Blue);
  font-weight: bold;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.upload-box {
  right: 20rem;
  bottom: 10rem;
  border: 0.1rem dashed;
  background:
   linear-gradient(#fff 0 0) padding-box,
   linear-gradient(269.98deg, var(--shade-of-yellow-green) 0.05%, var(--Aqua-Marine) 103.05%);
  padding: 6.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.file {
  position: absolute;
  right: 35rem;
  bottom: 6rem;
}

input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.warning-message {
  position: absolute;
  left: 3.5rem;
  font-size: 1.1rem;
  color: var(--Cherry-Red);
}
