:root {
  --shade-of-yellow-green: #d1ec3f;
  --light-gray: #dcdcdc;
  --light-gray-shade: #c4c4c4;
  --Vibrant-Spring-Lime: #c2ff14;
  --Aqua-Splash: #69f6d9;
  --Royal-Blue: #004db3;
  --Aqua-Marine: #41ffd8;
  --Slate-Gray: #797979;
  --Silver-Gray: #e8e8e8;
  --Aquamarine: #61f9da;
  --Cherry-Red: #e55a5d;
}
